<table>
    <tr>
        <th>Account</th>
        <th>Ballance</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let user of users">
        <td>
            {{user.userName}}
        </td>
        <td>
            {{user.userBalance | currency}}
        </td>
        <td>
            <input type="number" (change)="getAmount($event)">
        </td>
        <td>
            <button (click)="updateBalance(user, 'deposit')">Deposit</button>
        </td>
        <td>
            <button (click)="updateBalance(user, 'withdraw')">withdraw</button>
        </td>
    </tr>
    <tr>
        <td>
            Joint account
        </td>
        <td>
            {{balance | currency}}
        </td>
    </tr>
</table>